{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="area-descricao">
    <div class="area-caracteristicas block">
      <div class="area-dados bg-light">
        <div class="container-fluid">
          <div class="name">
            <h3>Samsung Galaxy M51</h3>
            <div class="info">
              <i class="bx bx-info-square"></i>
              <div class="item-info">
                <p><span>Fabricante </span>Samsung</p>
                <p><span>Versões </span>SM-M515F/DSN (international)</p>
                <p><span>Lançamento </span> 2020, September 11</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="bar-container">
              <div
                class="progress-bar"
                style="width: 90%"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="60"
              >
                <p>Tela</p>
              </div>
            </div>
            <div class="features">
              <i class="bx bx-fullscreen"></i>
              <p>Super AMOLED Plus, 6.7 polegadas, 393 dpi</p>
            </div>
            <div class="features">
              <i class="bx bx-expand-alt"></i>
              <p>6.7 inches, 108.4 cm2 (~86.7% screen-to-body ratio)</p>
            </div>
            <div class="features">
              <i class="bx bx-check-shield"></i>
              <p>Corning Gorilla Glass 3+</p>
            </div>
          </div>
          <div class="item">
            <div class="bar-container">
              <div
                class="progress-bar"
                style="width: 75%"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="60"
              >
                <p>Bateria</p>
              </div>
            </div>
            <div class="features">
              <i class="bx bx-battery"></i>
              <p>Li-Po 7000 mAh, non-removable</p>
            </div>
            <div class="features">
              <i class="bx bxs-battery-charging"></i>
              <p>
                Fast charging 25W, 100% in 115 min (advertised) Reverse charging
              </p>
            </div>
          </div>
          <div class="item">
            <div class="bar-container">
              <div
                class="progress-bar"
                style="width: 85%"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="60"
              >
                <p>Câmera Principal</p>
              </div>
            </div>
            <div class="cam-container">
              <div class="cam-item">
                <div class="features">
                  <i class="bx bx-camera"></i>
                  <p>Wide</p>
                </div>
                <div class="features">
                  <i class="bx bx-image"></i>
                  <p>64 MP</p>
                </div>
                <div class="features">
                  <i class="bx bx-aperture"></i>
                  <p>f/1.8</p>
                </div>
                <div class="features">
                  <i class="bx bx-landscape"></i>
                  <p>26mm</p>
                </div>
                <div class="features">
                  <i class="bx bx-film"></i>
                  <p>4K@30fps <br />1080p@30fps</p>
                </div>
              </div>
              <div class="cam-item">
                <div class="features">
                  <i class="bx bx-camera"></i>
                  <p>Ultrawide</p>
                </div>
                <div class="features">
                  <i class="bx bx-image"></i>
                  <p>12 MP</p>
                </div>
                <div class="features">
                  <i class="bx bx-aperture"></i>
                  <p>f/2.2</p>
                </div>
                <div class="features">
                  <i class="bx bx-landscape"></i>
                  <p>123 graus</p>
                </div>
              </div>
              <div class="cam-item">
                <div class="features">
                  <i class="bx bx-camera"></i>
                  <p>Macro</p>
                </div>
                <div class="features">
                  <i class="bx bx-image"></i>
                  <p>5 MP</p>
                </div>
                <div class="features">
                  <i class="bx bx-aperture"></i>
                  <p>f/2.4</p>
                </div>
              </div>
              <div class="cam-item">
                <div class="features">
                  <i class="bx bx-camera"></i>
                  <p>Deph</p>
                </div>
                <div class="features">
                  <i class="bx bx-image"></i>
                  <p>5 MP</p>
                </div>
                <div class="features">
                  <i class="bx bx-aperture"></i>
                  <p>f/2.4</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="bar-container">
              <div
                class="progress-bar"
                style="width: 80%"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="60"
              >
                <p>Performance</p>
              </div>
            </div>
            <div class="features">
              <i class="bx bx-chip"></i>
              <p>Android 10, Qualcomm SDM730 , Octa-core</p>
            </div>
            <div class="features">
              <i class="bx bx-microchip"></i>
              <p>Adreno 618</p>
            </div>
          </div>
          <div class="item">
            <div class="bar-container">
              <div
                class="progress-bar"
                style="width: 95%"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="60"
              >
                <p>Clientes</p>
              </div>
            </div>
            <div class="features">
              <i class="bx bx-group"></i>
              <p>Total de clientes que avaliaram o produto</p>
            </div>
          </div>
          <div class="item">
            <div class="bar-container">
              <div
                class="progress-bar"
                style="width: 85%"
                aria-valuenow="60"
                aria-valuemin="0"
                aria-valuemax="60"
              >
                <p>Especialistas</p>
              </div>
            </div>
            <div class="features">
              <i class="bx bx-id-card"></i>
              <p>Total de especialistas que avaliaram o produto</p>
            </div>
          </div>
        </div>
      </div>
      <div class="imagem">
        <div class="carousel">
          <img
            src="/static/img/phone_ico2.jpg"
            alt="imagem"
            class="img-fluid"
          />
        </div>
        <div class="grid-container">
          <div class="item1"></div>
          <div class="item2"></div>
          <div class="item3"></div>
          <div class="item4"></div>
          <div class="item5"></div>
        </div>
      </div>
    </div>
    <div class="area-depoimento">{% include 'depoimento.html' %}</div>
  </div>
</div>

{% endblock %}
