{% load static %}
<footer id="contato">
  <div class="container">
    <div class="email">
      <img {% static 'src=assets/paperplane.svg' %} />
      <h2 class="title text-center">Fique por dentro das novidades</h2>
      <h4 class="subtitle text-center mb-4">
        Et sumi kapa namur aondeai rocus pocus est talaraum
      </h4>
      <form>
        <div class="flex-md-grow-1 pr-md-3 pb-md-0 pb-3">
          <label for="email_input" class="sr-only">Email</label>
          <input
            type="email"
            class="form-control w-100"
            id="email_input"
            placeholder="seu email"
          />
        </div>
        <div class="flex-grow-1 flex-md-grow-0">
          <button
            type="submit"
            class="btn btn-light button mb-3 d-md-inline d-block w-100"
          >
            cadastre-se
          </button>
        </div>
      </form>
    </div>
    <div class="logo py-4">
      <div class="row">
        <div class="col-md-6 align-self-center text-center text-md-left">
          <!--<img {% static 'src=assets/logo.svg' %} class="img-fluid" />-->
        </div>
        <div class="col-md-6 align-self-center text-right">
          <ul>
            <li>
              <a href="#"><img {% static 'src=assets/facebook.svg' %} /></a>
            </li>
            <li>
              <a href="#"><img {% static 'src=assets/Twitter.svg' %} /></a>
            </li>
            <li>
              <a href="#"><img {% static 'src=assets/instagram.svg' %} /></a>
            </li>
            <li>
              <a href="#"><img {% static 'src=assets/linkedin.svg' %} /></a>
            </li>
            <li>
              <a href="#"><img {% static 'src=assets/youtube.svg' %} /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
