{% load static %}
<section id="produtos" class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="produto-lista col-lg-9 col-md-9 col-10 pl-5">
      <!--PRODUTO-CARD-->
      <div class="produto-card-content block">
        <div class="produto-card">
          <div class="item-produto">
            <a href="#">
              <img src={% static 'img/iphone.svg' %} class="img-fluid" />
            </a>
          </div>
          <div class="item-produto">
            <div class="atributo">
              <div class="descricao">
                <p>
                  <span class="nome">iPhone 12 Pro Max</span><br />Grafite, com
                  Tela de 6,7", 5G, 512 GB e Câmera Tripla de 12MP - MGDG3BZ/A
                </p>
                <div class="grafico-content">
                  <div class="item-grafico">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 60%"
                      aria-valuenow="60"
                      aria-valuemin="0"
                      aria-valuemax="60"
                    >
                      Tela
                    </div>
                  </div>
                  <div class="item-grafico">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 40%"
                      aria-valuenow="3"
                      aria-valuemin="0"
                      aria-valuemax="5"
                    >
                      Bateria
                    </div>
                  </div>
                  <div class="item-grafico">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 80%"
                      aria-valuenow="3"
                      aria-valuemin="0"
                      aria-valuemax="5"
                    >
                      Memória
                    </div>
                  </div>
                  <div class="item-grafico">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 90%"
                      aria-valuenow="3"
                      aria-valuemin="0"
                      aria-valuemax="5"
                    >
                      Câmera
                    </div>
                  </div>
                  <div class="item-grafico">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      style="width: 60%"
                      aria-valuenow="3"
                      aria-valuemin="0"
                      aria-valuemax="5"
                    >
                      Performance
                    </div>
                  </div>
                </div>
              </div>
              <div class="avaliacao-content">
                <div class="avaliacao">
                  <div class="item-avaliacao">
                    <img src={% static 'img/5-star.svg' %} class="img-fluid" />
                    <p>Consumidores</p>
                  </div>
                  <div class="item-avaliacao">
                    <img src={% static 'img/5-star.svg' %} class="img-fluid" />
                    <p>Especialistas</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item-produto">
            <div class="score-content">
              <div class="score">
                <div class="nome">
                  <p>score</p>
                </div>
                <div class="nota">
                  <p>4.5</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--//PRODUTO-CARD-->
    </div>
  </div>
</section>
