{% load static %}
<div class="produto-card-content">
  {% for p in produtos %}
  <div class="produto-card block">
    <div class="item-produto">
      <a href="#">
        <img src="{{ p.image.thumb.url }}" class="img-fluid" alt="Imagem" />
      </a>
    </div>
    <div class="item-produto">
      <div class="atributo">
        <div class="descricao">
          <p>
            <span class="nome">{{ p.identification_name }}</span><br />{{
            p.identification_versions }}
          </p>
          <div class="grafico-content">
            <div class="bar-content">
              <div class="item-nome">
                <span>Tela</span>
                <p>{{ p.display_type }}</p>
              </div>
              <div class="item-grafico">
                <div
                  class="progress-bar"
                  style="width: {{ p.display_score }}"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="60"
                ></div>
              </div>
            </div>
            <div class="bar-content">
              <div class="item-nome">
                <span>Bateria</span>
                <p>5000 mah - ~80hs de música</p>
              </div>
              <div class="item-grafico">
                <div
                  class="progress-bar"
                  style="width: {{ p.battery_score }}"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="60"
                ></div>
              </div>
            </div>
            <div class="bar-content">
              <div class="item-nome">
                <span>Câmera</span>
                <p>12 megapixel - HDR</p>
              </div>
              <div class="item-grafico">
                <div
                  class="progress-bar"
                  style="width: {{ p.camera_score }}"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="60"
                ></div>
              </div>
            </div>
            <div class="bar-content">
              <div class="item-nome">
                <span>Performance</span>
                <p>Snapdragon 865 - 6MB RAM</p>
              </div>
              <div class="item-grafico">
                <div
                  class="progress-bar"
                  style="width: {{ p.performance_score }}"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="60"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="avaliacao-content">
          <div class="avaliacao">
            <div class="item-avaliacao">
              <img src="{% static 'img/5-star.svg' %}" class="img-fluid" />
              <p>Consumidores</p>
            </div>
            <div class="item-avaliacao">
              <img src="{% static 'img/5-star.svg' %}" class="img-fluid" />
              <p>Especialistas</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item-produto">
      <div class="score-content">
        <div class="score">
          <div class="nome">
            <p>vaibo score</p>
          </div>
          <div class="nota">
            <p>{{ p.vaibo_score }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
