{% load static %}
<div class="sidebar-content">
  <div class="sidebar">
    <div class="logo-content">
      <div class="logo">
        <div class="logo-name"></div>
        <i class="bx bx-filter-alt"></i>
      </div>
    </div>
    <div class="range-content">
      <div class="range">
        <div class="range-item">
          <h6>Faixa de preço</h6>
          <label for="customRange1" class="form-label">Preço mínimo</label>
          <input type="range" class="form-range" id="customRange1" />
          <label for="customRange1" class="form-label">Preço máximo</label>
          <input type="range" class="form-range" id="customRange1" />
        </div>
        <div class="range-item">
          <h6>Tamanho de tela</h6>
          <label for="customRange1" class="form-label">Menor</label>
          <input type="range" class="form-range" id="customRange1" />
          <label for="customRange1" class="form-label">Maior</label>
          <input type="range" class="form-range" id="customRange1" />
        </div>
      </div>
    </div>
    <div class="lista">
      <ul class="filter-list">
        <li>
          <a href="#">Filtro 1</a>
        </li>
        <li>
          <a href="#">Filtro 2</a>
        </li>
        <li>
          <a href="#">Filtro 3</a>
        </li>
        <li>
          <a href="#">Filtro 4</a>
        </li>
        <li>
          <a href="#">Filtro 5</a>
        </li>
      </ul>
    </div>
  </div>
</div>
