body,
html {
  font-family: "Roboto", sans-serif;
}

#header-wrap .container {
  display: flex;
}

#header-wrap .container .navbar-brand {
  flex: 0 10%;
}

#header-wrap .container .navbar {
  flex-grow: 1;
}

#header-wrap .container .search-box {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
}

#header-wrap .container .search-box .barra-busca {
  flex: 1 1 auto;
}

#navbarNav {
  flex: 0 1 10%;
}

#produtos {
  position: relative;
}

#produtos .row .produto-lista .produto-card-content {
  position: relative;
}

#produtos .produto-card {
  display: flex;
  font-size: 15px;
}

#produtos .produto-card .item-produto:nth-child(1) {
  flex: 1 1 300px;
  align-self: center;
}

#produtos .produto-card .item-produto p {
  margin-bottom: 0px;
}

#produtos .produto-card .item-produto:nth-child(2) {
  flex: 1 1 auto;
}

#produtos .produto-card .item-produto:nth-child(3) {
  flex: 1 1 25%;
}

#produtos .produto-card .atributo .descricao {
  color: var(--dark);
}

#produtos .produto-card .atributo .descricao p span {
  font-size: 25px;
  font-weight: 700;
}

#produtos .produto-card .avaliacao {
  display: flex;
}

#produtos .produto-card .avaliacao .item-avaliacao img {
  max-width: 100px;
}
