body,
html {
  font-family: "Roboto", sans-serif;
}

/* HEADER */
#header-wrap .container {
  display: flex;
}

#header-wrap .container .navbar-brand {
  flex: 0 10%;
}

#header-wrap .container .navbar {
  flex-grow: 1;
}

#header-wrap .container .search-box {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
}

#header-wrap .container .search-box .barra-busca {
  flex: 1 1 auto;
}

#header-wrap .search-box {
  border: solid 2px var(--medium);
  border-radius: 30px;
  margin: 5px 10px;
}

#header-wrap .search-box .btn-group button {
  background-color: white;
  border-radius: 25px;
}

#header-wrap .barra-busca .btn.btn-search {
  background-color: white;
  border-radius: 25px;
}

#header-wrap .barra-busca .btn.btn-search img {
  height: 30px;
  width: 30px;
}

#header-wrap .barra-busca .input-group input {
  border: none;
  background-color: white;
}

#navbarNav {
  flex: 0 1 10%;
}

/* END OF HEADER */

#main .container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

/* PRODUTO */

#produtos {
  position: relative;
}

#produtos .row .produto-lista .produto-card-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

#produtos .produto-card {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  flex-wrap: wrap;
  font-size: 15px;
  /* border: solid 2px var(--light); */
  border-radius: 8px;
  margin-bottom: 30px;
  justify-content: center;
  transition: all ease-out 0.2s;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
}

#produtos .produto-card:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  transform: scale(1.05);
}

#produtos .produto-card .item-produto:nth-child(1) {
  flex: 1 1 auto;
  align-self: center;
  min-width: 150px;
  max-width: 250px;
}

#produtos .produto-card .item-produto:nth-child(2) {
  flex: 1 1 300px;
  min-width: 350px;
}

#produtos .produto-card .item-produto:nth-child(3) {
  flex: 1 1 auto;
  align-self: center;
  /* min-width: 100px; */
}

#produtos .produto-card .item-produto {
  padding: 10px;
}

#produtos .produto-card .item-produto p {
  margin-bottom: 5px;
}

#produtos .produto-card .atributo {
  display: flex;
  flex-direction: column;
}

#produtos .produto-card .atributo .descricao {
  color: var(--dark);
  margin-bottom: 20px;
}

#produtos .produto-card .atributo .descricao p span {
  color: var(--primary-dark);
  font-size: 30px;
  font-weight: 400;
}

/* .atributo .descricao .grafico-content {
  padding: 10px;
} */

.atributo .descricao .grafico-content .item-grafico {
  font-size: 10px;
  background: var(--light);
  text-transform: uppercase;
  height: 10px;
  border-radius: 5px;
  margin-bottom: 2px;
  /* border: 1px solid var(--primary-dark); */
  /* margin-left: 10px; */
}

.atributo .descricao .grafico-content .nota-grafico {
  font-size: 10px;
  background: var(--light);
  text-transform: uppercase;
  height: 10px;
  border-radius: 5px;
  margin-bottom: 2px;
  /* border: 1px solid var(--primary-dark); */
  /* margin-left: 10px; */
}

#produtos
  .produto-card
  .atributo
  .descricao
  .grafico-content
  .bar-content
  .item-nome {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 5px;
}

#produtos
  .produto-card
  .atributo
  .descricao
  .grafico-content
  .bar-content
  .nota-nome {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 5px;
}

#produtos
  .produto-card
  .atributo
  .descricao
  .grafico-content
  .bar-content
  .item-nome
  span {
  color: var(--primary-dark);
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}

#produtos
  .produto-card
  .atributo
  .descricao
  .grafico-content
  .bar-content
  .item-nome
  p {
  font-size: 12px;
  font-style: italic;
  color: var(--medium);
  margin-bottom: 0;
  margin-left: 10px;
  flex-wrap: nowrap;
}

#produtos
  .produto-card
  .atributo
  .descricao
  .grafico-content
  .bar-content
  .nota-nome
  span {
  color: var(--secondary);
  /* color: goldenrod; */
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}

#produtos
  .produto-card
  .atributo
  .descricao
  .grafico-content
  .bar-content
  .nota-nome
  p {
  font-size: 12px;
  font-style: italic;
  color: var(--secondary);
  /* color: #ffda00; */
  margin-bottom: 0;
  margin-left: 10px;
  flex-wrap: nowrap;
}

.atributo .descricao .grafico-content .item-grafico .progress-bar {
  color: var(--primary);
  font-size: 5px;
  background-color: var(--primary-dark);
  border-radius: 5px;
  height: 10px;
}

.atributo .descricao .grafico-content .nota-grafico .progress-bar {
  color: var(--primary);
  font-size: 5px;
  background-color: var(--secondary);
  /* background-color: #ffda00; */
  border-radius: 5px;
  height: 10px;
}

#produtos .produto-card .avaliacao {
  display: flex;
  justify-content: space-around;
}

#produtos .produto-card .avaliacao .item-avaliacao img {
  max-width: 100px;
}

#produtos .produto-card .item-produto .score-content {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: white;
  /* background: green; */
  /* border: solid 2px green; */
  border-radius: 8px;
  text-align: center;
}

#produtos .produto-card .item-produto .score-content .nome {
  /* color: var(--olive-dark); */
  font-size: 25px;
  font-weight: 700;
}

#produtos .produto-card .item-produto .score-content .nota {
  color: green;
  font-size: 85px;
  font-weight: 400;
}

#produtos .produto-card .item-produto .score-content .nota p {
  /* color: var(--olive-dark); */
  font-size: 25px;
  font-weight: 400;
}

#produtos .sidebar-content {
  display: flex;
  border-radius: 8px;
  background: var(--light);
}

#produtos .sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 10px;
}

#produtos .sidebar .logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#produtos .sidebar .range-content {
  display: flex;
  flex-direction: column;
}

#produtos .sidebar .range-content .range-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
/* END OF PRODUTO */

/* PAGINAÇÃO */

#pages .pagination {
  justify-content: flex-end;
  margin-bottom: 2rem;
}

/* END OF PAGINAÇÃO */

/* DESCRIÇÃO */

.area-caracteristicas {
  display: flex;
}

/* END OF DESCRIÇÃO */
